* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  display: block;
}
.nav li {
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  padding: 0 15px;
  border-radius: 10px;
  margin: 0 8px;
}
.row {
  margin-top: 10px;
}
.address {
  width: 100%;
  background-color: rgb(121, 141, 158);
}
.row img {
  width: 100%;
}
img {
  margin-top: 20px;
}
h2 {
  font-weight: 400;
  text-transform: capitalize;
  opacity: 0.8;
  font-size: 36px;
  padding-top: 20px;
}
.text {
  opacity: 0.8;
  font-size: 22px;
  padding-top: 20px;
}
h6 {
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.6;
  padding-top: 20px;
}
.email {
  background-color: rgb(187, 183, 183);
}
.headerMain {
  font-size: 30px;
  padding: 76px 0;
  text-align: center;
}
.address-email {
  display: flex;
  justify-content: center;
  
}
.address-email input {
  background-color:  rgb(187, 183, 183);
  border: none;
  border-bottom: 1px solid gray;
  padding-bottom: 12px;
  min-width: 320px;
  
}
.maincuoi {
  padding-top: 50px;
}
.button {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 120px;
}

.button button {
  padding: 16px 28px;
  background-color: white;
  border: 1px solid #aaa;
  font-size: 16px;
}
.fooder {
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  height: 60px;
}
.fooder p {
  display: inline-block;
}
.foodder {
  padding-bottom: 50px;
}
.icon1 {
  width: 15px;
  height: 15px;
  color: aqua;
  position: absolute;
}
